// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
   //  background-color: #fafafa;
    // background-color: #eee;
  }
 
  a {
    text-decoration: none;
     background-color: transparent;
  }
 
 //  @media (min-width: 992px) {
 //   .col-lg-3 {
 //     flex: 0 0 25%;
 //     max-width: 25%;
 //   }
 //  }
 
 //  @media (min-width: 768px) {
 //   .col-md-6 {
 //     flex: 0 0 50%;
 //     max-width: 50%;
 //   }
 //  }
 
 //  @media (min-width: 576px) {
 //   .col-sm-6 {
 //     flex: 0 0 50%;
 //     max-width: 50%;
 //   }
 //  }
 
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
   position: relative;
   padding-bottom: 35px;
   min-height: 1px;
   padding-right: 40px;
 }
 
 .container-fluid {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }
 
 input[type=text], input[type=number], input[type=password], input[type=email], select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 input[type=submit] {
   width: 100%;
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }
 
 // @media (min-width: 768px) {
 // .col-md-12 {
 //     flex: 0 0 100%;
 //     max-width: 100%;
 // }
 // }
 .row {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
 }
 
 .login-container {
   width: 500px;
   margin: auto;
   margin-top: 30px
 }
 
 .signup-container {
   position: relative;
   background-color: #ffffff;
   border: 1px solid #999999;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   outline: none;
   -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   background-clip: padding-box;
   width: 70%;
   margin: auto;
   padding: 40px;
   margin-top: 40px;
 }
 
 .signup-container .signup-form input[type="text"], .signup-container .signup-form input[type="password"],
 .signup-container .signup-form input[type="number"], .signup-container .signup-form input[type="email"] {
     border-radius: 3px;
     border: none;
     color: #333333;
     font-size: 16px;
     height: 16px;
     margin-bottom: 5px;
     padding: 13px 12px;
     width: 100%;
 }
 
 .signup-container .signup-form .form-control {
     border-radius: 3px;
     background-color: rgba(0, 0, 0, 0.09);
     box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
     color: #FFFFFF;
   }
 
   .signup-container .signup-form .btn-register {
     background-color: #00BBFF;
     border-color: #00BBFF;
     border-width: 0;
     color: #FFFFFF;
     display: block;
     margin: 0 auto;
     padding: 15px 50px;
     text-transform: uppercase;
     width: 80%;
     margin-top: 20px;
 }
 
 .period-link {
   cursor: pointer;
 }
 
 .period-link:hover {
   color: red;
 }
 
 .header-content {
   display: flex;
   justify-content: space-between;
 }
 .btn {
   position: relative;
   padding: 12px 30px;
   margin: .3125rem 1px;
   font-size: .75rem;
   font-weight: 400;
   line-height: 1.428571;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0;
   cursor: pointer;
   background-color: transparent;
   border: 0;
   border-radius: .2rem;
   transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
   will-change: box-shadow,transform;
 }
 
 .btn.btn-primary {
     color: #fff;
     background-color: #1D1313;
     border-color: #1D1313;
     box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
 }
 
 .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
     box-shadow: 0 14px 26px -12px rgba(156,39,176,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(156,39,176,.2);
 }
 
 .text-primary {
     color: #1D1313!important;
 }
 
 .table>tbody>tr:hover {
   color: #aaa;
   cursor: pointer;
 }
 
 .bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating {
     color: rgb(17, 236, 200);
 }
 
 .bmd-form-group [class^=bmd-label].bmd-label-floating {
     will-change: left,top,contents;
     margin: 0;
     line-height: 1.4;
     font-weight: 400;
 }
 
 .bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
     position: absolute;
     pointer-events: none;
     transition: all .3s ease;
 }
 